%h1 タスク一覧
%table
  %tr
    %th タスク名
%ul
  - @task.each do |task|
    %li
      = task.content
      = link_to '編集', edit_task_path(task)
      = link_to '削除', task_path(task), method: :delete
= link_to '追加', new_task_path
